{
	"env": {
        "browser": false,
        "es2021": true,
        "jest": true
    },
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
	  "@typescript-eslint"
	],
	"extends": [
	  "eslint:recommended",
	  "plugin:@typescript-eslint/eslint-recommended",
	  "plugin:@typescript-eslint/recommended"
	],
	"ignorePatterns": ["**/*.test.js","**/*.spec.js"]
  }